@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --footer-font: "Inter", sans-serif;
  --white-bg-color: #FFFFFF;
  --footer-bg-color: #000000;
  --menu-mobile-bg-color: #E86F54;
  --modal-bg-color: rgba(0, 0, 0, 0.3);
  --black-text-color: #000000;
  --white-text-color: #FFFFFF;
  --form-text-color: #5C5C5C;
  --input-text-color: rgba(0, 0, 0, 0.4);
  --default-btn-color: #E86F54;
  --hover-btn-color: #E25B41;
  --focus-btn-color: #FA6F54;
  --box-shadow-focus-btn: 0px 4px 16px rgba(250, 111, 84, 0.2);
  --btn-border-radius: 38px;
}

.subtitle {
  font-family: var(--main-font);
  color: var(--black-main-cl);
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  gap: 14px;
  margin-bottom: 32px;
}
.subtitle::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--black-main-cl);
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 44px;
    gap: 16px;
    margin-bottom: 60px;
  }
  .subtitle--about {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .subtitle {
    margin-bottom: 80px;
  }
  .subtitle--about {
    margin-bottom: 26px;
  }
}

.small-title {
  text-align: left;
  font-family: var(--main-font);
  color: var(--black-main-cl);
  width: 100%;
  white-space: nowrap;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.btn {
  min-width: 208px;
  min-height: 44px;
  font-family: var(--main-font);
  color: var(--white-main-cl);
  border-radius: var(--btn-border-radius);
  background-color: var(--default-btn-color);
  border: none;
  margin: 0 auto;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  display: block;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--hover-btn-color);
}
.btn:focus {
  background-color: var(--focus-btn-color);
}
@media (min-width: 768px) {
  .btn {
    width: 280px;
    height: 64px;
  }
}

.btn--subscribe {
  min-width: 170px;
  min-height: 40px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__container {
  position: relative;
  background-color: #fff;
  max-width: 644px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
}
.modal__content {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
}
.modal__image {
  text-align: center;
  margin-bottom: 20px;
}
.modal__image img {
  width: 100%;
  display: block;
}
.modal__title {
  font-size: 24px;
  margin: 0;
  text-align: center;
}
.modal__text {
  margin-bottom: 10px;
  text-align: center;
  margin: 14px 0 18px 0;
}
.modal__label {
  width: 100%;
  margin-bottom: 18px;
}
.modal__input {
  width: 100%;
}
.modal__input::-moz-placeholder {
  padding-left: 12px;
}
.modal__input:-ms-input-placeholder {
  padding-left: 12px;
}
.modal__input::placeholder {
  padding-left: 12px;
}
.modal__button {
  margin-bottom: 28px;
}

.is-hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */