:root {
  --main-font: "Montserrat", sans-serif;
  --footer-font: "Inter", sans-serif;
  --white-bg-color: #ffffff;
  --footer-bg-color: #000000;
  --menu-mobile-bg-color: #e86f54;
  --modal-bg-color: rgba(0, 0, 0, 0.3);
  --black-text-color: #000000;
  --white-text-color: #ffffff;
  --form-text-color: #5c5c5c;
  --input-text-color: rgba(0, 0, 0, 0.4);
  --default-btn-color: #e86f54;
  --hover-btn-color: #e25b41;
  --focus-btn-color: #fa6f54;
  --disablet-btn-color: rgba(232, 111, 84, 0.4);
  --box-shadow-focus-btn: 0px 4px 16px rgba(250, 111, 84, 0.2);
  --btn-border-radius: 38px;
}

.subtitle {
  font-family: var(--main-font);
  color: var(--black-main-cl);
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  gap: 14px;
  margin-bottom: 32px;
}
.subtitle::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--black-main-cl);
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 44px;
    gap: 16px;
    margin-bottom: 60px;
  }
  .subtitle--about {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .subtitle {
    margin-bottom: 80px;
  }
  .subtitle--about {
    margin-bottom: 26px;
  }
}

.small-title {
  text-align: left;
  font-family: var(--main-font);
  color: var(--black-main-cl);
  width: 100%;
  white-space: nowrap;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.btn {
  min-width: 208px;
  min-height: 44px;
  font-family: var(--main-font);
  color: var(--white-main-cl);
  border-radius: var(--btn-border-radius);
  background-color: var(--default-btn-color);
  border: none;
  margin: 0 auto;
  padding: 10px 35px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  display: block;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--hover-btn-color);
}
.btn:focus {
  background-color: var(--focus-btn-color);
}
@media screen and (min-width: 768px) {
  .btn {
    width: 280px;
    height: 64px;
  }
}

.btn--subscribe {
  min-width: 170px;
  min-height: 40px;
}

.btn-send {
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--default-btn-color);
  border-radius: 8px;
  border: none;
  color: var(--white-main-cl);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
}
@media screen and (min-width: 768px) {
  .btn-send {
    height: 50px;
    font-size: 18px;
  }
}

.btn-subscribe {
  width: 236px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--default-btn-color);
  border: none;
  border-radius: 8px;
  color: var(--white-main-cl);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (min-width: 768px) {
  .btn-subscribe {
    width: 336px;
    height: 50px;
    font-size: 18px;
  }
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.about__title {
  display: flex;
  align-items: center;
  text-align: left;
  font-family: var(--main-font);
  color: var(--black-main-cl);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  gap: 14px;
  margin-bottom: 32px;
}
.about__title::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--black-main-cl);
}
@media screen and (min-width: 768px) {
  .about__title {
    gap: 16px;
    font-size: 44px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    margin-bottom: 26px;
  }
}
.about__description {
  font-family: var(--main-font);
  color: var(--black-main-cl);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .about__description {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .about__description {
    font-size: 22px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    display: flex;
    align-items: center;
    gap: 54px;
  }
}
@media screen and (min-width: 1280px) {
  .about__wrapper {
    gap: 90px;
  }
}

.blog__img-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 480px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 4px;
}
.page-header {
  position: fixed;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  background-color: var(--white-bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
  }
}
.header__logo {
  max-width: 45px;
  max-height: 35px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    max-width: 72px;
    max-height: 57px;
  }
}
.header__logo:is(:hover, :focus) {
  fill: #2196f3;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header__modal {
  padding: 2px 0px 11px 0px;
}
@media screen and (min-width: 768px) {
  .header__modal {
    padding: 0px;
  }
}
.header__modal-btn {
  border: none;
  background-color: transparent;
}
.header__modal-btn:is(:hover, :focus) {
  fill: #2196f3;
  cursor: pointer;
}
.header__call-us {
  max-width: 22px;
  max-height: 22px;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    gap: 48px;
  }
}
.nav__link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2px;
  color: #000000;
}
.nav__link:is(:hover, :focus) {
  color: #2196f3;
}

.position {
  padding-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .position {
    display: none;
  }
}

.menu-container {
  position: fixed;
  inset: 0;
  display: flex;
  background-color: #e86f54;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: #000000;
}
.menu-toggle__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle__close {
    display: none;
  }
}
.menu-toggle__close:is(:hover, :focus) {
  fill: #2196f3;
}

.menu-toggle:is(:hover, :focus) {
  fill: #2196f3;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: auto;
  padding: 0px;
  text-align: center;
}
.mobile-menu__link {
  color: var(--white-text-color);
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
.mobile-menu__link:is(:hover, :focus) {
  color: #2196f3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__container {
  position: relative;
  background-color: #fff;
  max-width: 644px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
}
.modal__content {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
}
.modal__image {
  text-align: center;
  margin-bottom: 20px;
}
.modal__image img {
  width: 100%;
  display: block;
}
.modal__title {
  font-size: 24px;
  margin: 0;
  text-align: center;
}
.modal__text {
  margin-bottom: 10px;
  text-align: center;
  margin: 14px 0 18px 0;
}
.modal__label {
  width: 100%;
  margin-bottom: 18px;
}
.modal__input {
  width: 100%;
}
.modal__input::-moz-placeholder {
  padding-left: 12px;
}
.modal__input::placeholder {
  padding-left: 12px;
}
.modal__button {
  margin-bottom: 28px;
}

.is-hidden {
  display: none;
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 0.5s linear, visibility 0.5s linear;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.is-hidden .modal-contact {
  transform: scale(0);
}

.modal-contact {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 272px;
  padding: 28px 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  background: #ffffff;
  transition: transform 0.5s linear;
  transform: scale(1);
}
.modal-contact__button-close {
  background: #ffffff;
  position: absolute;
  top: 19px;
  right: 19px;
  border: none;
}
.modal-contact__header {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.modal-contact__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5c5c5c;
  margin-bottom: 4px;
}
.modal-contact__container {
  width: 100%;
}
.modal-contact__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
.modal-contact__form:is(:hover, :focus) .modal-contact__input {
  border-color: rgba(17, 17, 17, 0.7);
}
.modal-contact__label {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #5c5c5c;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-contact__input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}
.modal-contact__input:not(:-moz-placeholder-shown):required:valid {
  border-color: #3cbc81;
  background-color: white;
}
.modal-contact__input:not(:placeholder-shown):required:valid {
  border-color: #3cbc81;
  background-color: white;
}
.modal-contact__input:not(:-moz-placeholder-shown):required:valid .modal-contact__label {
  color: #3cbc81;
}
.modal-contact__input:not(:placeholder-shown):required:valid .modal-contact__label {
  color: #3cbc81;
}
.modal-contact__input:not(:-moz-placeholder-shown):required:invalid {
  border-color: #e74a3b;
}
.modal-contact__input:not(:placeholder-shown):required:invalid {
  border-color: #e74a3b;
}
.modal-contact__input:not(:-moz-placeholder-shown):required:invalid .modal-contact__label {
  color: #e74a3b;
  background-color: white;
}
.modal-contact__input:not(:placeholder-shown):required:invalid .modal-contact__label {
  color: #e74a3b;
  background-color: white;
}
.modal-contact__button-send {
  width: 100%;
  padding: 10px 101px;
  background: rgba(232, 111, 84, 0.4);
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.modal-contact__button-send .modal-contact__input:not(:-moz-placeholder-shown):required:valid + .modal-contact__button-send:active {
  background: #e86f54;
}
.modal-contact__button-send .modal-contact__input:not(:placeholder-shown):required:valid + .modal-contact__button-send:active {
  background: #e86f54;
}/*# sourceMappingURL=main.css.map */