<section class="about section" id="about-us">
  <div class="container">
    <h2 class="about__title subtitle">About</h2>
    <div class="about__wrapper">
      <p class="about__description">
        We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
        give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
        create is unique as you are.
      </p>
      <img
        src="./images/image_about_mobile.jpg"
        alt="Flowers"
        width="632"
        height="344"
        class="about__img"
        srcset="
          images/image_about_mobile.jpg      288w,
          images/image_about_mobile@2x.jpg   576w,
          images/image_about_tablet.jpg      344w,
          images/image_about_tablet@2x.jpg   688w,
          images/image_about_desktop.jpg     632w,
          images/image_about_desktop@2x.jpg 1264w
        "
        sizes="(min-width: 768px) 344px, (min-width: 1280px) 632px, 100vw"
      />
    </div>
  </div>
</section>
