<section class="about section" id="about">
  <div class="container">
    <h2 class="about__title subtitle">About</h2>
    <div class="about__wrapper">
      <p class="about__description">
        We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
        give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
        create is unique as you are.
      </p>
      <img
        src="./images/image_about_mobile.jpg"
        alt="Flowers"
        srcset="
          images/image_about_mobile.jpg     450w,
          images/image_about_mobile@2x.jpg  900w,
          images/image_about_tablet.jpg     354w,
          images/image_about_tablet@2x.jpg  708w,
          images/image_about_desktop.jpg    270w,
          images/image_about_desktop@2x.jpg 540w
        "
        sizes="(min-width: 768px) 354px, (min-width: 1280px) 270px, 100vw"
      />
    </div>
  </div>
</section>
