<container class="container">
  <h2 class="subtitle">BLOG</h2>
  <div class="blog">
    <div class="blog__img-box">
      <img
        src="./images/flowers image4_tablet.jpg"
        alt="roslina"
        width="136"
        height="181"
        class="blog__img"
      />
      <img
        src="./images/flowers image5_tablet.jpg"
        alt="kwiat"
        width="136"
        height="181"
        class="blog__img"
      />
    </div>
    <div class="blog__icon-box">
      <svg class="blog__icon" width="22" height="22">
        <use href="./images/icons.svg#icon-call-us"></use>
      </svg>
      <svg class="blog__icon" width="22" height="22">
        <use href="./images/icons.svg#icon-call-us"></use>
      </svg>
    </div>
    <div class="blog__newsletter">
      <p class="blog__text">Follow to our newsletter</p>
      <button type="button" class="btn btn--subscribe">Subscribe</button>
    </div>
  </div>
</container>
