<section>
  <div class="delivery">
    <h2 class="delivery--header">Delivery</h2>
    <span class="delivery__--line"></span>
  </div>
  <ul class="order__list">
    <li>
      <div class="order__list--text">Choose your bouquet and make an order on website</div>
    </li>
    <li>
      <div class="order__list--text">
        Wait for the call to clarify the details of the order. You can pay online or to the courier
      </div>
    </li>
    <li>
      <div class="order__list--text">
        Wait for the delivery at the selected time or pick up the order from the store
      </div>
    </li>
    <li>
      <div class="order__list--text">Make someone happy or enjoy yourself</div>
    </li>
  </ul>
  <div class="delivery__background-img"></div>
</section>
