<section class="section delivery" id="delivery">
  <div class="container">
    <h2 class="subtitle">Delivery</h2>

    <ul class="order">
      <li class="order__list">
        <div class="order__list--text">Choose your bouquet and make an order on website</div>
      </li>
      <li class="order__list">
        <div class="order__list--text">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </div>
      </li>
      <li class="order__list">
        <div class="order__list--text">
          Wait for the delivery at the selected time or pick up the order from the store
        </div>
      </li>
      <li class="order__list">
        <div class="order__list--text">Make someone happy or enjoy yourself</div>
      </li>
    </ul>
  </div>
  <img
    class="delivery__background-img"
    alt="kwiaty"
    src="./images/image_delivery_mobile.jpg"
    srcset="
      images/image_delivery_mobile.jpg     450w,
      images/image_delivery_mobile@2x.jpg  900w,
      images/image_delivery_tablet.jpg     354w,
      images/image_delivery_tablet@2x.jpg  708w,
      images/image_delivery_desktop.jpg    270w,
      images/image_delivery_desktop@2x.jpg 540w
    "
    sizes="(min-width: 768px) 354px, (min-width: 1280px) 270px, 100vw"
  />
</section>
