<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="logo-container">
        <a href="./index.html"
          ><svg class="footer__logo" width="73px" height="57px">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
      </div>
      <div class="nav-container wth">
        <h4 class="footer__header">Navigation</h4>
        <nav class="footer__nav">
          <ul class="footer__list">
            <li class="footer__item">
              <a href="./index.html" class="footer__link">Anemone</a>
            </li>
            <li class="footer__item"><a href="#about-us" class="footer__link">About us</a></li>
            <li class="footer__item"><a href="#store" class="footer__link">Store</a></li>
            <li class="footer__item footer__item--last">
              <a href="#delivery" class="footer__link">Delivery</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="info-container wth">
        <h4 class="footer__header">Opening times</h4>
        <p class="footer__item">
          Every day <br />
          9:00 - 22:00
        </p>
      </div>

      <div class="contact-container wth">
        <h4 class="footer__header">Contacts</h4>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="tel:+380631234567">+38 063 123 45 67</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="mailto:anemonestudio@example.com"
              >anemonestudio<span class="footer__footer-breaker">@example.com</span></a
            >
          </li>

          <li class="footer__item">
            <address class="footer__address">
              Reitarska Street,<br />
              11 Kyiv, Ukraine
            </address>
          </li>
        </ul>
      </div>
      <div class="social-media-container wth">
        <ul class="footer__social-media-list">
          <li class="footer__social-media-item">
            <a class="footer__social-media-link" href=""
              ><svg class="footer__social-media" width="28px" height="28px">
                <use href="./images/icons.svg#icon-Vector"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-meida-item footer__social-media-item--last">
            <a class="footer__social-media-link" href=""
              ><svg class="footer__social-media" width="28px" height="28px">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
