<footer class="footerr">
  <div class="footerr__navi">
    <h3>Navigation</h3>
    <ul class="footerr__list">
      <li>Anemone</li>
      <li>About</li>
      <li>Store</li>
      <li>Delivery</li>
    </ul>
  </div>
  <div class="footerr__opening">
    <h3>Opening times</h3>
    <ul class="footerr__list">
      <li>Every day</li>
      <li>9:00-22:00</li>
    </ul>
  </div>
  <div class="footerr__contact">
    <h3>Contact</h3>
    <ul class="footerr__list">
      <li>+38 063 123 45 67</li>
      <li>anemonestudio@example.com</li>
      <li>Reitarska Street, 11 Kyiv, Ukraine</li>
    </ul>
  </div>
  <div class="footerr__social">
    <svg width="28" height="28"><use href="./images/icons.svg#icon-instagram"></use></svg>
    <svg width="28" height="28"><use href="./images/icons.svg#icon-instagram"></use></svg>
  </div>
</footer>
