<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nagłówek strony</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./sass/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header class="page-header">
      <div class="container header">
        <a href="./index.html"
          ><svg width="auto" height="auto" class="header__logo">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <nav class="nav">
          <a href="#Anemone" class="nav__link">Anemone</a>
          <a href="#About us" class="nav__link">About us</a>
          <a href="#Store" class="nav__link">Store</a>
          <a href="#Delivery" class="nav__link">Delivery</a>
          <a href="#Blog" class="nav__link">Blog</a>
        </nav>
        <div class="header__buttons">
          <div class="header__modal">
            <button type="button" class="header__modal-btn" data-modal-open>
              <svg class="header__call-us" width="auto" height="auto">
                <use href="./images/icons.svg#icon-call-us"></use>
              </svg>
            </button>
          </div>
          <div class="position">
            <button
              class="menu-toggle js-open-menu"
              aria-expanded="false"
              aria-controls="mobile-menu"
            >
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-Burger"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle__close js-close-menu">
        <svg width="24" height="24"><use class="x" href="./images/icons.svg#icon-x"></use></svg>
      </button>
      <ul class="mobile-menu">
        <li>
          <a href="#Anemone" class="mobile-menu__link">Anemone</a>
        </li>
        <li>
          <a href="#About us" class="mobile-menu__link">About us</a>
        </li>
        <li>
          <a href="#Store" class="mobile-menu__link">Store</a>
        </li>
        <li>
          <a href="#Delivery" class="mobile-menu__link">Delivery</a>
        </li>
        <li>
          <a href="#Blog" class="mobile-menu__link">Blog</a>
        </li>
      </ul>
    </div>
    <script defer src="./menu-mobile.js"></script>
  </body>
</html>
