<header class="page-header">
  <div class="container header">
    <a href="./index.html"
      ><svg width="auto" height="auto" class="header__logo">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <a href="#anemone" class="nav__link">Anemone</a>
      <a href="#about-us" class="nav__link">About us</a>
      <a href="#store" class="nav__link">Store</a>
      <a href="#delivery" class="nav__link">Delivery</a>
      <a href="#blog" class="nav__link">Blog</a>
    </nav>
    <div class="header__buttons">
      <div class="header__modal">
        <button type="button" class="header__modal-btn" data-modal-contact-open>
          <svg class="header__call-us" width="auto" height="auto">
            <use href="./images/icons.svg#icon-call-us"></use>
          </svg>
        </button>
      </div>
      <div class="position">
        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
          <svg width="24" height="24">
            <use href="./images/icons.svg#icon-Burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
