<body>
  <header class="page-header">
    <div class="container header">
      <a
        ><svg><use></use></svg>LOGO</a
      >
      <nav>
        <ul>
          <li><a>Anemone</a></li>
          <li><a>About us</a></li>
          <li><a>Store</a></li>
          <li><a>Delivery</a></li>
          <li><a>Blog</a></li>
        </ul>
      </nav>
      <div>
        <button type="button" data-modal-open>1</button>
      </div>

      <div>
        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
          <svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </header>
</body>
