<section class="hero section" id="anemone">
  <div class="hero__box container">
    <h1 class="hero__title">ANEMONE</h1>
    <h2 class="hero__subtitle">flower studio</h2>
    <div>
      <img
        class="hero__image"
        alt="flower"
        src="./images/image_home_page_mobile.jpg"
        srcset="
          ./images/image_home_page_mobile.jpg    145w,
          ./images/image_home_page_mobile@2x.jpg 290w,
          ./images/image_home_page_d+t.jpg       390w,
          ./images/image_home_page_d+t@2x.jpg    780w
        "
        sizes="(min-width: 768px) 390px, (min-width: 480px) 145px"
      />
    </div>
    <button data-modal-contact-open class="hero__btn" type="button">
      <svg width="auto" height="auto" class="hero__icon">
        <use href="./images/icons.svg#icon-btn"></use>
      </svg>
    </button>
  </div>
</section>
