<section class="hero" id="anemone">
  <div class="hero__box container">
    <h1 class="hero__title">ANEMONE</h1>
    <h2 class="hero__subtitle">flower studio</h2>
    <div class="hero__image">
      <picture>
        <source
          media="(min-width:768px)"
          srcset="images/image_home_page_d+t@2x.jpg 2x, images/image_home_page_d+t.jpg 1x"
          type="image/jpg"
        />
        <source
          media="(max-width:767.98px)"
          srcset="images/image_home_page_mobile@2x.jpg 2x, images/image_home_page_mobile.jpg 1x"
          type="image/jpg"
        />
        <img
          src="./images/image_home_page_mobile.jpg"
          alt="flower"
          loading="lazy"
          width="390"
          height="636"
        />
      </picture>
    </div>
    <button data-modal-contact-open class="hero__btn" type="button">
      <svg width="64" height="76" class="hero__icon">
        <use class="hero__icon--mob" href="./images/hero_svg.svg#icon-hero_mob"></use>
        <use class="hero__icon--tab" href="./images/hero_svg.svg#icon-hero_tab"></use>
        <use class="hero__icon--desk" href="./images/hero_svg.svg#icon-hero_desk"></use>
      </svg>
    </button>
  </div>
</section>
