<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../sass/main.css" />
    <title>Document</title>
  </head>
  <body>
    <form class="form">
      <div class="label__container">
        <label class="label" for="email">
          <input class="input" type="email" id="email" placeholder="Email" />
          <div class="label__icon"></div>
        </label>
        <label class="label-title" for="email">Email</label>
      </div>
    </form>
  </body>
</html>
