<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle__close js-close-menu">
    <svg width="24" height="24"><use class="x" href="./images/icons.svg#icon-x"></use></svg>
  </button>
  <ul class="mobile-menu">
    <li>
      <a href="#anemone" class="mobile-menu__link">Anemone</a>
    </li>
    <li>
      <a href="#about-us" class="mobile-menu__link">About us</a>
    </li>
    <li>
      <a href="#store" class="mobile-menu__link">Store</a>
    </li>
    <li>
      <a href="#delivery" class="mobile-menu__link">Delivery</a>
    </li>
    <li>
      <a href="#blog" class="mobile-menu__link">Blog</a>
    </li>
  </ul>
</div>
