<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle__close js-close-menu">
    <svg width="24" height="24"><use class="x" href="../images/icons.svg#icon-x"></use></svg>
  </button>
  <ul class="mobile-menu">
    <li>
      <a href="#Anemone" class="mobile-menu__link">Anemone</a>
    </li>
    <li>
      <a href="#About us" class="mobile-menu__link">About us</a>
    </li>
    <li>
      <a href="#Store" class="mobile-menu__link">Store</a>
    </li>
    <li>
      <a href="#Delivery" class="mobile-menu__link">Delivery</a>
    </li>
    <li>
      <a href="#Blog" class="mobile-menu__link">Blog</a>
    </li>
  </ul>
</div>
