<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../sass/main.css" />
  </head>
  <body>
    <button data-modal-open class="Nowshop" type="button">Now Shop</button>
    <!-- okno modalne CONTACT US -->
    <div class="backdrop is-hidden" data-modal="">
      <div class="modal-contact">
        <button class="modal-contact__button-close" data-modal-close>X</button>
        <p class="modal-contact__header">Contact us</p>
        <p class="modal-contact__text">
          If you have any additional questions or you want to clarify something before you make an
          order please fill in your contact details. We will call you back.
        </p>
        <div class="modal-contact__container">
          <form class="modal-contact__form" name="leave-your-details">
            <label class="modal-contact__label"
              >Name
              <input
                type="text"
                name="username"
                placeholder="Your name"
                pattern=".+"
                title="Use proper name"
                required
                class="modal-contact__input"
              />
            </label>
            <label class="modal-contact__label"
              >Email
              <input
                type="email"
                name="email"
                placeholder="Your email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                title="Use proper email"
                required
                class="modal-contact__input"
              />
            </label>
            <button class="modal-contact__button-send btn-send" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <script src="../modal-contact.js"></script>
  </body>
</html>
