<button class="button">Otwórz modal</button>

<div class="modal is-hidden">
  <div class="modal__container">
    <button class="modal__close">
      <svg>
        <use href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal__image">
      <img
        src="./images/christie-kim_mobile.jpg"
        alt="Compliments bouquet"
        srcset="
          images/christie-kim_mobile.jpg      272w,
          images/christie-kim_mobile@2x.jpg   544w,
          images/christie-kim_tablet.jpg      588w,
          images/christie-kim_tablet@2x.jpg  1176w,
          images/christie-kim_desktop.jpg     428w,
          images/christie-kim_desktop@2x.jpg  856w
        "
        sizes="(min-width: 768px) 354px, (min-width: 1280px) 428px, 100vw"
      />
    </div>
    <div class="modal__content">
      <h3 class="modal__title">Follow to our newsletter</h3>
      <p class="modal__text">
        Be the first to get exclusive offers and the latest news on our product directly in your
        box.
      </p>
      <label class="modal__label" for="email"
        >Email
        <input type="email" class="modal__input" placeholder="Your email" id="email" />
      </label>
      <button class="modal__button btn btn-subscribe">Subscribe</button>
    </div>
  </div>
</div>
