<section class="store section" id="store">
  <div class="container">
    <h2 class="subtitle">Store</h2>
    <ul class="store__list">
      <li class="store__item">
        <img
          src="./images/bouquet3_mobile.jpg"
          alt="Compliments bouquet"
          class="store__img"
          srcset="
            images/bouquet3_mobile.jpg      136w,
            images/bouquet3_mobile@2x.jpg   272w,
            images/bouquet3_tablet.jpg      344w,
            images/bouquet3_tablet@2x.jpg   688w,
            images/bouquet3_desktop.jpg     600w,
            images/bouquet3_desktop@2x.jpg 1200w
          "
          sizes="(min-width: 768px) 344px, (min-width: 1280px) 600px, 100vw"
        />
        <h3 class="small-title store__title">compliments</h3>
        <p class="store__price">from $15</p>
      </li>
      <li class="store__item">
        <img
          src="./images/bouquet1_mobile.jpg"
          alt="Bouquets size S"
          class="store__img"
          srcset="
            images/bouquet1_mobile.jpg      136w,
            images/bouquet1_mobile@2x.jpg   272w,
            images/bouquet1_tablet.jpg      344w,
            images/bouquet1_tablet@2x.jpg   688w,
            images/bouquet1_desktop.jpg     600w,
            images/bouquet1_desktop@2x.jpg 1200w
          "
          sizes="(min-width: 768px) 344px, (min-width: 1280px) 600px, 100vw"
        />
        <h3 class="small-title store__title">bouquets size S</h3>
        <p class="store__price">from $25</p>
      </li>
      <li class="store__item">
        <img
          src="./images/bouquet2_mobile.jpg"
          alt="Bouquets size M"
          class="store__img"
          srcset="
            images/bouquet2_mobile.jpg      136w,
            images/bouquet2_mobile@2x.jpg   272w,
            images/bouquet2_tablet.jpg      344w,
            images/bouquet2_tablet@2x.jpg   688w,
            images/bouquet2_desktop.jpg     600w,
            images/bouquet2_desktop@2x.jpg 1200w
          "
          sizes="(min-width: 768px) 344px, (min-width: 1280px) 600px, 100vw"
        />
        <h3 class="small-title store__title">bouquets size M</h3>
        <p class="store__price">from $45</p>
      </li>
      <li class="store__item">
        <img
          src="./images/bouquet4_mobile.jpg"
          alt="Bouquets size L"
          class="store__img"
          srcset="
            images/bouquet4_mobile.jpg      136w,
            images/bouquet4_mobile@2x.jpg   272w,
            images/bouquet4_tablet.jpg      344w,
            images/bouquet4_tablet@2x.jpg   688w,
            images/bouquet4_desktop.jpg     600w,
            images/bouquet4_desktop@2x.jpg 1200w
          "
          sizes="(min-width: 768px) 344px, (min-width: 1280px) 600px, 100vw"
        />
        <h3 class="small-title store__title">bouquets size L</h3>
        <p class="store__price">from $60</p>
      </li>
    </ul>
    <button data-modal-contact-open class="btn button" type="button">Order flowers</button>
  </div>
</section>
