<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nagłówek strony</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link href="../sass/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <header>
    <nav>
      <ul>
        <li><a>Anemone</a></li>
        <li><a>About us</a></li>
        <li><a>Store</a></li>
        <li><a>Delivery</a></li>
        <li><a>Blog</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <div><p>flower studio</p></div>
      <h1>Anemone</h1>
    </section>
    <section>
      <h2 class="subtitle subtitle--about">About</h2>
      <p>
        We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
        give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
        create is unique as you are.
      </p>
    </section>
    <section>
      <h2 class="subtitle">Store</h2>
      <ul>
        <li>
          <h3 class="small-title">compliments</h3>
          <p>from $15</p>
        </li>
        <li>
          <h3 class="small-title">bouquets size S</h3>
          <p>from $25</p>
        </li>
        <li>
          <h3 class="small-title">bouquets size M</h3>
          <p>from $45</p>
        </li>
        <li>
          <h3 class="small-title">bouquets size L</h3>
          <p>from $60</p>
        </li>
      </ul>
      <button type="button" class="btn">Order flowers</button>
    </section>
    <section>
      <h2 class="subtitle">Delivery</h2>
      <ol>
        <li>Choose your bouquet and make an order on website</li>
        <li>
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </li>
        <li>Wait for the delivery at the selected time or pick up the order from the store</li>
        <li>Make someone happy or enjoy yourself</li>
      </ol>
    </section>
    <section>
      <h2 class="subtitle">Blog</h2>
      <p>Follow to our Newsletter</p>
      <button type="button" class="btn btn--subscribe">Subscribe</button>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="logo-container">
          <svg class="footer__logo" width="73px" height="57px">
            <use href="../images/icons.svg#icon-logo"></use>
          </svg>
        </div>
        <div class="nav-container">
          <h4 class="footer__header">Navigation</h4>
          <nav class="footer__nav">
            <ul class="footer__list">
              <li class="footer__item">
                <a href="./szkielet.html" class="footer__link">Anemone</a>
              </li>
              <li class="footer__item"><a href="#about-us" class="footer__link">About us</a></li>
              <li class="footer__item"><a href="#store" class="footer__link">Store</a></li>
              <li class="footer__item footer__item--last">
                <a href="#delivery" class="footer__link">Delivery</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="info-container">
          <h4 class="footer__header">Opening times</h4>
          <p class="footer__item">Every day <time>9:00</time> - <time>22:00</time></p>
        </div>
        <div class="contact-container">
          <h4 class="footer__header">Contacts</h4>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="tel:+380631234567">+38 063 123 45 67</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="mailto:anemonestudio@example.com"
                >anemonestudio@example.com</a
              >
            </li>
            <li class="footer__item">
              <address class="footer__address">Reitarska Street, 11 Kyiv, Ukraine</address>
            </li>
          </ul>
        </div>
        <div class="social-media-container">
          <ul>
            <li>
              <a href=""
                ><svg class="footer__social-media" width="28px" height="28px">
                  <use href="../images/icons.svg#icon-Vector"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href=""
                ><svg class="footer__social-media" width="28px" height="28px">
                  <use href="../images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</html>
