<header>
  <nav>
    <ul>
      <li><a>Anemone</a></li>
      <li><a>About us</a></li>
      <li><a>Store</a></li>
      <li><a>Delivery</a></li>
      <li><a>Blog</a></li>
    </ul>
  </nav>
</header>
<main>
  <section>
    <div><p>flower studio</p></div>
    <h1>Anemone</h1>
  </section>
  <section>
    <h2 class="subtitle subtitle--about">About</h2>
    <p>
      We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give
      people the beauty and joy creating stylish and modern masterpieces. Every bouquet we create is
      unique as you are.
    </p>
  </section>
  <section>
    <h2 class="subtitle">Store</h2>
    <ul>
      <li>
        <h3 class="small-title">compliments</h3>
        <p>from $15</p>
      </li>
      <li>
        <h3 class="small-title">bouquets size S</h3>
        <p>from $25</p>
      </li>
      <li>
        <h3 class="small-title">bouquets size M</h3>
        <p>from $45</p>
      </li>
      <li>
        <h3 class="small-title">bouquets size L</h3>
        <p>from $60</p>
      </li>
    </ul>
    <button type="button" class="btn">Order flowers</button>
  </section>
  <section>
    <h2 class="subtitle">Delivery</h2>
    <ol>
      <li>Choose your bouquet and make an order on website</li>
      <li>
        Wait for the call to clarify the details of the order. You can pay online or to the courier
      </li>
      <li>Wait for the delivery at the selected time or pick up the order from the store</li>
      <li>Make someone happy or enjoy yourself</li>
    </ol>
  </section>
  <section>
    <h2 class="subtitle">Blog</h2>
    <p>Follow to our Newsletter</p>
    <button type="button" class="btn btn--subscribe">Subscribe</button>
  </section>
</main>
<footer>
  <div>
    <h4>Navigation</h4>
    <nav>
      <ul>
        <li><a>Anemone</a></li>
        <li><a>About us</a></li>
        <li><a>Store</a></li>
        <li><a>Delivery</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <h4>Opening times</h4>
    <p>every day 9:00-22:00</p>
  </div>
  <div>
    <h4>Contacts</h4>
    <a href="tel:+380631234567">+38 063 123 45 67</a>
    <a href="mailto:anemonestudio@example.com">anemonestudio@example.com</a>
    <address>Reitarska Street, 11 Kyiv, Ukraine</address>
  </div>
</footer>
