.delivery {
  &__background-img {
    background-size: cover;
    width: 100%;
  }
}
.order {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 25px;
  margin-bottom: 32px;

  counter-reset: list-counter;
  @include tablet {
    gap: 57px;
    margin-bottom: 40px;
    padding-right: 67px;
  }
  @include desktop {
    margin-bottom: 64px;
    gap: 52px;
    padding-right: 220px;
  }
  &__list {
    display: flex;
    align-items: center;
    position: relative;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0.82;
    @include tablet {
      font-size: 24px;
      line-height: 0.82px;
    }
    &--text {
      font-family: var(--main-font);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.21;
      margin-left: 48px;
      text-align: left;
      @include tablet {
        margin-left: 108px;
        font-size: 32px;
      }
      @include desktop {
        margin-left: 194px;
      }
    }
    &:before {
      display: flex;
      align-items: center;
      justify-content: center;
      content: counter(list-counter);
      counter-increment: list-counter;
      position: absolute;
      border: 1px solid var(--black-text-color);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      @include tablet {
        width: 64px;
        height: 64px;
        margin-left: 24px;
      }
      @include desktop {
        margin-left: 86px;
      }
    }
  }
}
