.page-header {
  position: fixed;
  z-index: 999;
  max-height: fit-content;
  width: 100%;
  background-color: var(--white-bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;

  @include tablet {
    padding-top: 24px;
  }

  &__logo {
    max-width: 45px;
    max-height: 35px;
    @include tablet {
      max-width: 72px;
      max-height: 57px;
    }
  }

  &__logo:is(:hover, :focus) {
    fill: var(--focus-btn-color);
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__modal {
    padding: 2px 0px 11px 0px;
    @include tablet {
      padding: 0px;
    }
  }

  &__modal-btn {
    border: none;
    background-color: transparent;
  }
  &__modal-btn:is(:hover, :focus) {
    fill: var(--focus-btn-color);
    cursor: pointer;
  }

  &__call-us {
    max-width: 22px;
    max-height: 22px;
    @include tablet {
      max-width: 24px;
      max-height: 24px;
    }
    @include desktop {
      max-width: 28px;
      max-height: 28px;
    }
  }
}

.nav {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
  }
  @include desktop {
    gap: 48px;
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 24px;
    @include desktop {
      gap: 48px;
    }
  }

  &__link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2px;
    color: #000000;
  }
  &__link:is(:hover, :focus) {
    color: var(--focus-btn-color);
  }
}

.position {
  padding-bottom: 11px;
  @include tablet {
    display: none;
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

.menu-container {
  position: fixed;
  z-index: 999;
  inset: 0;
  display: flex;
  background-color: #e86f54;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: #000000;

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    fill: #ffff;
    @include tablet {
      display: none;
    }
  }

  &__close:is(:hover, :focus) {
    fill: var(--focus-btn-color);
  }
}
.menu-toggle:is(:hover, :focus) {
  fill: var(--focus-btn-color);
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin: auto;
  padding: 0px;
  text-align: center;
  &__link {
    color: var(--white-text-color);
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
  }

  &__link:is(:hover, :focus) {
    font-weight: bold;
  }
}
