.hero {
    padding-top: 95px;
    padding-bottom: 136px;
    @include tablet {
        padding-top: 119px;
        padding-bottom: 194px;
    }
    @include desktop {
        padding-top: 149px;
    }

    &__box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @include desktop {
            justify-content: space-between;
        }

    }

    
    &__title {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        text-align: center;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 52px;
        line-height: 1.21;
        text-align: center;
        color: var(--black-text-color);
        
        @include tablet {
            transform: translate(-50%,63%);
            font-size: 120px;
        }
        @include desktop {
            transform: translate(-50%,48%);
            font-size: 160px;
        } 
    }

        &__subtitle {
        width: 46px;
        color: var(--black-text-color);
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        margin-right: 14px;
        margin-left: 11px;
        @include tablet {
            width: 76px;
            font-size: 24px;
            margin-right: 40px;
            margin-left: 49px;
        }
        @include desktop {
            width: 101px;
            font-size: 32px;
            margin-left: 210px;
            margin-right: 0;
        }
        }
        &__image {
                display: block;
                width: 100%;
                height: auto;
                width: 145px;
                height: 274px;
                object-fit: cover;
                object-position: center;

            @media screen and (min-width: 768px) {
                width: 390px;
                height: 636px;
            }
            }
        &__btn {
            margin-left: 8px;
            border: none;
            background-color: inherit;
            padding: 0;
            cursor: pointer;
            @include tablet {
                margin-left: 20px;
            }
            @include desktop {
                margin-right: 145px;
                margin-left: 0;
            }
        }

        &__icon {
            @include tablet {
            width: 145px;
            height: 150px;
            }
            @include desktop {
            width: 166px;
            height: 166px;
            }
        }

        &__icon--mob {
            @include tablet {
                opacity: 0;
         }
        }
        &__icon--tab {
             opacity: 0;
               @media screen and (min-width: 768px) and (max-width: 1280px) {
            opacity: 1;
            }
        }
        &__icon--desk {
              @media screen and (max-width: 1280px) {
                opacity: 0;
            }
        }
}